{% extends 'layout/base.html' %} {% load static %} {% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row">
    <div class="col-12">
      <form method="POST" action="{% url 'submit_truck' %}">
        {% csrf_token %}

        <div class="card">
          <div class="card-header">
            <h4 style="display: inline-block" class="card-title">Add Truck</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <div class="mb-3">
                  <label for="exampleFormControlSelect1" class="form-label">Kecamatan</label>
                  <select name="kecamatan_id" class="form-select" id="exampleFormControlSelect1"
                    aria-label="Default select example">
                    {% for kec in kecamatan %}
                    <option value="{{ kec.id }}">{{ kec.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="col-6">
                <div class="mb-3">
                  <label for="exampleFormControlSelect1" class="form-label">Truck Type</label>
                  <select name="type_id" class="form-select" id="exampleFormControlSelect1"
                    aria-label="Default select example">
                    {% for type in truck_type %}
                    <option value="{{ type.id }}">{{ type.truck_type }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="col-6">
                <div class="mb-3">
                  <label for="exampleFormControlSelect1" class="form-label">Truck Class</label>
                  <select name="truck_class_id" class="form-select" id="exampleFormControlSelect1"
                    aria-label="Default select example">
                    {% for class in truck_class %}
                    <option value="{{ class.id }}">{{ class.classes }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="col-6">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">No. Police</label>
                  <input type="text" name="no_pol" class="form-control" value="{{ truk.no_pol }}" />
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Year</label>
                  <input type="text" name="year" class="form-control" />
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Capacity</label>
                  <input type="number" name="capacity" class="form-control" step=".01" />
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Consumption</label>
                  <input type="number" name="consumption" class="form-control" step=".01" />
                </div>
              </div>
            </div>
          </div>

          <div class="card-footer">
            <button type="button" onclick="window.history.go(-1); return false;"
              class="btn btn-outline-secondary btn-md">
              <i class="bi bi-arrow-left" style="margin-right: 3px"></i>
              Back
            </button>

            <button type="submit" class="btn btn-primary btn-md text-white" style="margin-left: 10px">
              <i class="bi bi-box-arrow-down" style="margin-right: 3px"></i>
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %} {% block js %} {% endblock js %}