{% extends 'layout/base.html' %} {% load static %} {% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row">
    <div class="col-12">
      <form method="PUT" action="{% url 'update_truck_class' %}">
        <div class="card">
          <div class="card-header">
            <h4 style="display: inline-block" class="card-title">
              Detail Truck Class
            </h4>
          </div>
          <div class="card-body">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Truck Class</label
              >
              <input
                type="text"
                name="classes"
                class="form-control"
                value="{{ truck_class.classes }}"
              />
            </div>

            <div class="row">
              <div class="col-6">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Created At</label
                  >
                  <input
                    readonly
                    type="text"
                    name="name"
                    class="form-control"
                    value="{{ truck_class.created_at }}"
                  />
                </div>
              </div>

              <div class="col-6">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Created By</label
                  >
                  <input
                    readonly
                    type="text"
                    name="name"
                    class="form-control"
                    value="{{ truck_class.created_by }}"
                  />
                </div>
              </div>

              <div class="col-6">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Modified At</label
                  >
                  <input
                    readonly
                    type="text"
                    name="name"
                    class="form-control"
                    value="{{ truck_class.modified_at }}"
                  />
                </div>
              </div>

              <div class="col-6">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Modified By</label
                  >
                  <input
                    readonly
                    type="text"
                    name="name"
                    class="form-control"
                    value="{{ truck_class.modified_by }}"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="card-footer">
            <button
              type="button"
              onclick="window.history.go(-1); return false;"
              class="btn btn-outline-secondary btn-md"
            >
              <i class="bi bi-arrow-left" style="margin-right: 3px"></i>
              Back
            </button>

            <button
              type="submit"
              class="btn btn-primary btn-md text-white"
              style="margin-left: 10px"
            >
              <i class="bi bi-box-arrow-down" style="margin-right: 3px"></i>
              Update
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %} {% block js %} {% endblock js %}
