{% extends 'layout/base.html' %}
{% load static %}
{% load my_custom_filters %}
{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 style="display: inline-block" class="card-title">Detail Route Planning</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="mb-3">
                            <label>Planning Name</label>
                            <input type="name" name="name" class="form-control" value="{{main.name}}" readonly />
                        </div>
                        <div>
                            <label for="exampleFormControlTextarea1" class="form-label">Short Description</label>
                            <textarea name="short_desc" class="form-control" rows="3" readonly
                                value="{{main.short_desc}}"></textarea>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label>Fuel Type</label>
                                <input type="text" name="fuel_id" class="form-control"
                                    value="{{ main.fuel.fuel_name }} | Factor : {{ main.fuel.ems_factor }}" readonly />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label>Velocity (km/h)</label>
                                <input type="number" name="velocity" class="form-control" value="{{ main.velocity }}"
                                    step=".01" readonly />
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="mb-3">
                                <label>Armroll Loading Time (min)</label>
                                <input type="number" name="loading_armroll" class="form-control" step=".01"
                                    value="{{ main.loading_armroll }}" step=".01" readonly />
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="mb-3">
                                <label>Armroll Unloading Time (min)</label>
                                <input type="number" name="unloading_armroll" class="form-control" step=".01"
                                    value="{{ main.unloading_armroll }}" step=".01" readonly />
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="mb-3">
                                <label>Dump Loading Time (m³/min)</label>
                                <input type="number" name="loading_dump" class="form-control" step=".01"
                                    value="{{ main.loading_dump }}" step=".01" readonly />
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="mb-3">
                                <label>Dump Unloading Time (m³/min)</label>
                                <input type="number" name="unloading_dump" class="form-control" step=".01"
                                    value="{{ main.unloading_dump }}" step=".01" readonly />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mt-2">
                        <h3 class="mb-4">Summary</h3>

                        <div class="row">
                            <div class="col-lg-3">
                                <div class="card bg-secondary">
                                    <div class="card-header" style="margin-bottom: -15px;">
                                        <h4 class="text-white">Truk Dibutuhkan</h4>
                                    </div>
                                    <div class="card-body text-white">
                                        <p style="font-size: 16px;" class="text-white">{{c_truck }} Truck</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="card bg-secondary">
                                    <div class="card-header" style="margin-bottom: -15px;">
                                        <h4 class="text-white">Truk Tersedia</h4>
                                    </div>
                                    <div class="card-body text-white">
                                        <p style="font-size: 16px;" class="text-white">{{c_exist_truck }} Truck</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="card bg-secondary">
                                    <div class="card-header" style="margin-bottom: -15px;">
                                        <h4 class="text-white">Total Emisi</h4>
                                    </div>
                                    <div class="card-body text-white">
                                        <p style="font-size: 16px;" class="text-white">{{c_emission }} kgCO₂</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="card bg-secondary">
                                    <div class="card-header" style="margin-bottom: -15px;">
                                        <h4 class="text-white">Total Jarak</h4>
                                    </div>
                                    <div class="card-body text-white">
                                        <p style="font-size: 16px;" class="text-white">{{c_distance }} KM</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h3 class="mb-4 mt-5">Table Recap</h3>
                        <div class="col-4">
                            <a href="{% url 'export_recap' main.id %}" class="btn btn-warning" type="submit"
                                target="_blank">Get
                                Table Recap</a>
                        </div>
                        <hr class="hr my-5" />

                        {% for truck in truck_history %}
                        <div class="col-lg-4 mb-3">
                            <div class="card border-1">
                                <div class="card-body">
                                    <h5 class="card-title">TRUCK {{truck.truck_id}}</h5>
                                    <p class="card-text">
                                    <p style="margin-bottom: 5px;">Truck Type : {{ truck.type.truck_type }}</p>
                                    <p>Total Time : {{ truck.reach_minutes }}</p>
                                    </p>
                                    <button id="detail-truck" data-mtrial="{{main.id}}" data-id="{{truck.id}}"
                                        data-name="TRUCK {{truck.truck_id}} | {{truck.type.truck_type}}" type="button"
                                        class="btn btn-md btn-primary mt-3">See Detail</button>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="card-footer">
                    <button type="button" onclick="window.history.go(-1); return false;"
                        class="btn btn-outline-secondary btn-md">
                        <i class="bi bi-arrow-left" style="margin-right: 3px"></i>
                        Back
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="truckDetail" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modal-title" class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="vtl">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block js %}
<script type="text/javascript">
    $(document).on('click', '#detail-truck', function () {
        var id = 1;

        const mtrial_id = $(this).attr("data-mtrial")
        const truck_id = $(this).attr("data-id")
        const name = $(this).attr("data-name")

        $('#modal-title').text(name);

        $.ajax({
            type: "POST",
            url: `/get-truck-direction`,
            data: {
                'mtrial_id': mtrial_id,
                'truck_id': truck_id,
            },
            success: function (response) {
                const data = response.data;
                var baseTime = "06:00:00";
                var before = 0

                $(".vtl").empty();
                for (const dt of data) {
                    var capacity = Number(dt.capacity)
                    var time = Number(dt.takes_time) - before

                    var startTime = moment(baseTime, 'HH:mm:ss')
                    var endTime = moment(baseTime, 'HH:mm:ss').add(time * 60, "seconds")

                    if (time > 60) {
                        time = (time / 60).toFixed(2) + ' Hours'
                    } else {
                        time += ' Minutes'
                    }

                    $(".vtl").append(`
                        <div class="event">
                            <p style="font-weight: bold">${id}. To Place : ${dt.place.name}</p>
                            <p style="margin-bottom: 4px">Location : ${dt.place.location}</p>
                            <p style="margin-bottom: 4px">Capacity : ${capacity} m³</p>
                            <p style="margin-bottom: 4px">Distance : ${dt.amount_km} KM</p>
                            <p style="margin-bottom: 4px">Emission : ${dt.emission} kg/CO₂</p>
                            <p style="margin-bottom: 4px">Time : ${time}</p>
                            <p style="margin-bottom: 4px">Start-To : ${startTime.format('HH:mm:ss')} - ${endTime.format('HH:mm:ss')}</p>
                        </div>
                    `)

                    baseTime = endTime.format('HH:mm');
                    before += Number(dt.takes_time) - before
                    id++;
                }

                $('#truckDetail').modal('toggle');
            }
        })
    })


</script>
{% endblock js %}