{% extends 'layout/base.html' %}
{% load static %}
{% load my_custom_filters %}
{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 style="display: inline-block" class="card-title">Detail Route Planning</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="mb-3">
                            <label>Planning Name</label>
                            <input type="name" name="name" class="form-control" value="{{main.name}}" readonly />
                        </div>
                        <div>
                            <label for="exampleFormControlTextarea1" class="form-label">Short Description</label>
                            <textarea name="short_desc" class="form-control" rows="3" readonly
                                value="{{main.short_desc}}"></textarea>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label>Fuel Type</label>
                                <input type="text" name="fuel_id" class="form-control"
                                    value="{{ main.fuel.fuel_name }} | Factor : {{ main.fuel.ems_factor }}" readonly />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label>Velocity (km/h)</label>
                                <input type="number" name="velocity" class="form-control" value="{{ main.velocity }}"
                                    readonly />
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="mb-3">
                                <label>Armroll Loading Time (min)</label>
                                <input type="number" name="loading_armroll" class="form-control"
                                    value="{{ main.loading_armroll }}" readonly />
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="mb-3">
                                <label>Armroll Unloading Time (min)</label>
                                <input type="number" name="unloading_armroll" class="form-control"
                                    value="{{ main.unloading_armroll }}" readonly />
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="mb-3">
                                <label>Dump Loading Time (min)</label>
                                <input type="number" name="loading_dump" class="form-control"
                                    value="{{ main.loading_dump }}" readonly />
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="mb-3">
                                <label>Dump Unloading Time (min)</label>
                                <input type="number" name="unloading_dump" class="form-control"
                                    value="{{ main.unloading_dump }}" readonly />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 style="display: inline-block" class="card-title">Truck Routing</h3>
                </div>
                <div class="card-body">
                    <div class="row mt-2">
                        <h3 class="mb-4">Summary</h3>
                        <p>Jumlah Truk yang dibutuhkan : <span
                                style="font-weight: bold; text-decoration: underline; color: blue">
                                {{c_truck }} Truck</span></p>
                        <p>Jumlah Truk yang tersedia : <span
                                style="font-weight: bold; text-decoration: underline; color: orange">
                                {{c_exist_truck }} Truck</span>
                        </p>

                        <hr class="hr my-5" />

                        {% for truck in truck_history %}
                        <div class="col-lg-3 mb-3">
                            <div class="card border-1">
                                <div class="card-body">
                                    <h5 class="card-title">TRUCK {{truck.truck_id}}</h5>
                                    <p class="card-text">
                                    <p>Truck Type : {{ truck.type.truck_type }}</p>
                                    <p>Total Time :{{ truck.reach_minutes }}</p>
                                    {% comment %} <p>Distance : {% truck.reach_minutes divide:2 %} KM</p> {% endcomment %}
                                    </p>

                                    <a href="#" class="btn btn-md btn-primary mt-3">See Detail</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="card-footer">
                    <button type="button" onclick="window.history.go(-1); return false;"
                        class="btn btn-outline-secondary btn-md">
                        <i class="bi bi-arrow-left" style="margin-right: 3px"></i>
                        Back
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %} {% block js %} {% endblock js %}