{% extends 'layout/base.html' %} {% load static %} {% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row">
    <div class="col-12">
      <form method="POST" action="{% url 'update_truck_type' %}">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ truck_type.id }}">

        <div class="card">
          <div class="card-header">
            <h4 style="display: inline-block" class="card-title">
              Detail Truck Type
            </h4>
          </div>
          <div class="card-body">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Truck Type</label>
              <input type="text" name="truck_type" class="form-control" value="{{ truck_type.truck_type }}" />
            </div>

            <div class="col-6">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Capacity</label>
                <input type="number" name="capacity" class="form-control" value="{{ truck_type.capacity }}"
                  step=".01" />
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Created At</label>
                  <input readonly type="text" class="form-control" value="{{ truck_type.created_at }}" />
                </div>
              </div>

              <div class="col-6">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Created By</label>
                  <input readonly type="text" class="form-control" value="{{ truck_type.created_by }}" />
                </div>
              </div>

              <div class="col-6">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Modified At</label>
                  <input readonly type="text" class="form-control" value="{{ truck_type.modified_at }}" />
                </div>
              </div>

              <div class="col-6">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Modified By</label>
                  <input readonly type="text" class="form-control" value="{{ truck_type.modified_by }}" />
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="button" onclick="window.history.go(-1); return false;"
              class="btn btn-outline-secondary btn-md">
              <i class="bi bi-arrow-left" style="margin-right: 3px"></i>
              Back
            </button>

            <button type="submit" class="btn btn-primary btn-md text-white" style="margin-left: 10px">
              <i class="bi bi-box-arrow-down" style="margin-right: 3px"></i>
              Update
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %} {% block js %} {% endblock js %}